/* ==============================================
Header
============================================== */

.logo{
    width: 1200px;
    height: 255;
    margin-left:auto;
    margin-right:auto;
    /* background-color: purple; */
}

.logo-image{
    width: 250px;
    height: 250px;
}

.nav-bar{
    text-align:center;
    width: 1200px;
    height: 100px;
    margin-left:auto;
    margin-right:auto;
    padding: 20px;
    border-width: 5px 0px 0px 0px;
    border-style: solid;
    border-top-color: black;
    /* background-color:blueviolet; */
}

.nav-button{
    cursor:pointer;
    font-size: large;
    border-style:hidden;
    background-color:white;
}
.nav-button-selected{
    cursor:pointer;
    background-color:yellow;
    font-size: large;
    border-style:hidden;
}

.nav-selection{
    margin:15px;
}

/* ============================================
Gallery
============================================ */

.gallery-description{
    text-align:center;
    margin:10px;
}

.gallery-images{
    width: 1200px;
    text-align:center;
    margin-left:auto;
    margin-right:auto;
}

.gallery-product{
    width: 280px;
    height: 320px;
    margin-bottom: 40px;
    padding:2px;
    background-color: white;
    border-style:hidden;
    text-align:left;
    cursor:pointer;
}
.gallery-product:hover{
    background-color: yellow;
}

.product-image{
    width: 250px;
    height: 250px;
    border-style: solid;
    border-color: black;
    border-width: 3px;
    display: block;
    margin-left:auto;
    margin-right:auto;
    margin-top:10px;
    margin-bottom:8px;
}

.product-title{
    margin-left:12px;
}

.product-price{
    margin-left:12px;
}
/* 
=============================================
Cart
============================================= */
p{
    text-align:center;
}

.title{
    text-align:center;
    margin:10px;
    font-size:x-large;
}

.remove{
    text-align:center;
    font-size: x-small
}

.cart-product{
    width: 250px;
    height: 250px;
    margin-bottom: 20px;
    margin-left:auto;
    margin-right:auto;

    padding:2px;
}

.cart-product-image{
    width: 100px;
    height: 100px;
    border-style: solid;
    border-color: black;
    border-width: 3px;
    display: block;
    margin-left:auto;
    margin-right:auto;
    margin-top:10px;
    margin-bottom:8px;
}


.cart-product-price{
    text-align:center;
    font-size:larger
}

.cart-footer{
    text-align:center;
    width: 600px;
    height: 150px;
    margin-left:auto;
    margin-right:auto;
    padding: 20px;
    border-width: 5px 0px 0px 0px;
    border-style: solid;
    border-top-color: black;
}

.checkout-button{
    width:100px;
    height:30px;
    cursor:pointer;
    margin: 10px;
    background-color: yellow;
}

/* ==================================
Details
================================== */

.product-details-image{
    width: 400px;
    height: 400px;
    border-style: solid;
    border-color: black;
    border-width: 3px;
    display: block;
    margin-left:auto;
    margin-right:auto;
    margin-top:25px;
    margin-bottom:8px;
}

.product-details-info{
    width: 200px;
    height:auto;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:30px;
    /* background-color: aquamarine; */
}

.details-desc{
    text-align:left;
    margin-bottom:30px;
}

.drop-down{
    margin-bottom:15px;
    /* background-color: aquamarine; */
}

.drop-down-desc{
    margin-bottom:5px;
}

.drop-down-menu{
    width:200px;
    cursor:pointer;
}

.details-footer{
    display:flex;
    margin-top: 30px;
}

.details-price{
    /* background-color:aqua; */
    width:70px;
    flex-shrink:0;
    padding-top:5px;
    text-align:center;
}
.add-to-cart{
    /* background-color:blueviolet; */
    width:auto;
    flex-grow:1;
    text-align:center;
}

.add-to-cart-button{
    width:100;
    height:30px;
    cursor:pointer;
    background-color: yellow;
}
