

body{
    background:#C0E8B9;
}

.heading{
    font-size:xx-large;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    margin:2%;
    font-weight:600;
}

.image{
    width:175px;
    height:175px;
    border-radius:5px;
    margin:0%;
    padding:0%;
    cursor:pointer;
}

.album-image{
    background-color:#91C89A;
    margin:0%;
    padding:0%;
}

#album-covers{
    display:flex;
    flex-wrap:wrap;
    width:525px;
    padding:1%;
    background-color:#91C89A;
    margin-left:auto;
    margin-right:auto;
    border-radius:5px;
    margin-bottom:2%
}
.content{
    display:flex;
    flex-wrap:wrap;
    /* background-color:blueviolet; */
}

.embed-track{
    /* background-color:darkgrey; */
    /* margin-right:5%; */
    height:200px;
}

.normal{
    width:45%;
    margin-right:auto;
    /* background-color: #91C89A; */
    margin-left:auto;
}


.top-tracks{
    /* background-color:#91C89A; */
    font-size:larger;
    line-height:150%;
}

#tracks{
    background-color:#e8ffea;
    padding:1%;
    padding-left:4%;
    border-radius:5px;
    margin-bottom:2%;
}

.color-change{
    background-color:#e8ffea;
    padding:1%;
    padding-left:4%;
    border-radius:5px;
    line-height:150%;
}


@media (max-width:1000px){
.heading{
    font-size:large;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    margin:2%;
    font-weight:600;
}
.image{
    width:100px;
    height:100px;
    margin:0%;
    padding:0%;
}

.album-image{
    background-color:#91C89A;
    margin:0%;
    padding:0%;
}

#album-covers{
    display:flex;
    flex-wrap:wrap;
    width:300px;
    padding:1%;
    background-color:#91C89A;
    margin-left:auto;
    margin-right:auto;
    border-radius:2%;
    margin-bottom:4%
}

.normal{
    width:90%;
    flex-shrink:0;
    margin-right:auto;
    /* background-color: #91C89A; */
    margin-left:auto;
}

.content{
    flex-direction:column;
}

.top-tracks{
    /* background-color:#91C89A; */
    font-size:medium;
    line-height:150%;
}

#tracks{
    background-color:#f3fff4;
    padding:1%;
    padding-left:2%;
    border-radius:2%;
    margin-bottom:2%;
}
h2{
    font-size:large;
}


}



